@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
    margin: 0;
    padding:0;
    min-width: 100% !important;
    max-width: 100% !important;
    max-height: 100%;
    font-family: 'Nunito', sans-serif;
    --main-text-font : Nunito;
    --header-background-color: #F79751;
    --header-navbar-color: #A13C07;
    --header-navbar-hover-color: #D97230;
}
