// COLORS
$color-primary: #c8e6c9;
$color-primary-light: #91ff95;
$color-primary-dark: #497f4a;

$color-secondary: #fefbeb;
$color-secondary-light: #fff09f;
$color-secondary-dark: #7f7850;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
