.header-wrapper {
    padding: 50px 10px;
    background: var(--header-background-color);
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header-logo header-navbar"
}

.header-navbar {
    grid-area: header-navbar;
    justify-self: end;
    display: flex;
    justify-content: space-between;
}

.header-navbar > div > a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--header-navbar-color)
}

.header-navbar > div > a:hover {
    color: var(--header-navbar-hover-color);
}
